.backRegistration{
    background: radial-gradient(  #0a00ff, #000000);

    width: 100vw;
    height: 100vh;
}

.registration {
    background: rgba(255, 231, 231, 0.9);
    position: absolute;
    right: calc(50% - 400px / 2);
    width: 400px;
    top: calc(50% - 500px / 2);
    height: 500px;
    padding: 20px;
    box-shadow: 2px 2px 22px 6px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.input{
    position: absolute;
    box-shadow: 3px 3px 7px 3px rgba(153, 151, 151, 0.6);
}

.buttons{
    width: 100%;
    justify-content: center;

}
